/*
 *	Author: Giovanna Gonçalves Cutieri
 */

 body{
 	background: #fafafa;
 }

 .dino{
 	width: 60px;
 	height: 60px;
 	background-image: url(img/dino.png);
 	position: absolute;
 	bottom: 0;
 	background-repeat: no-repeat;
 	background-position: bottom;
 }

 .cactus{
 	position: absolute;
 	width: 60px;
 	height: 60px;
 	bottom: 0;
 	background-image: url(img/cactus.png);
 }

 .pterodactyl{
 	position: absolute;
 	width: 60px;
 	height: 60px;
 	bottom: 0;
 	background-image: url(img/pterodactyl.png);
 	background-repeat: no-repeat;
 	margin-bottom: 20px;
 }

  .powerup{
 	position: absolute;
 	width: 25px;
 	height: 25px;
 	bottom: 0;
 	background-color: black;
 	margin-bottom: 70px;
 }

 .game-over, .score{
 	text-align: center;
 	color: #66666f;
 	margin-top: 50px;
 	font-family: arial;
 }

 @keyframes slideright{
 	from{
 		background-position: 70000%;
 	}
 	to{
 		background-position: 0;
 	}
 }

 .background{
 	position: absolute;
 	bottom: 0;
 	background-image: url(img/background.png);
 	background-repeat: repeat-x;
 	animation: slideright 600s infinite linear;
 	width: 100%;
 	height: 200px;
 }